# # postgresql database connection settings
# DB_HOST=x.x.x.x                 # the IP address of the database server
# DB_PORT=5432                    # the port number of the database server
# DB_USER=your_user               # the username to connect to the database
# DB_PASSWORD=your_password       # the password to connect to the database
# DB_NAME=receipt_vault           # the name of the database to connect to

# # AI Studio API key from aistudio.google.com
# GEMINI_API_KEY=your_google_ai_studio_key

# # Receipt Vault settings
# RECEIPT_INBOX_PATH=path_to_inbox        # the path to the directory where new receipts will be placed for processing
# RECEIPT_ARCHIVE_PATH=path_to_archive    # the path to the directory where processed receipts will be moved to after processing
# JSON_ARCHIVE_PATH=path_to_json_archive  # the path to the directory where JSON representations of processed receipts will be stored